ChatMessenger/ChatMessenger.xcworkspace/xcuserdata/lorenzo.stanton.xcuserdatad/UserInterfaceState.xcuserstate
ChatMessenger/ChatMessenger.xcworkspace/xcuserdata/lorenzo.stanton.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
