<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://sandbox.magnet.com/mobile/api</string>
	<key>ClientID</key>
	<string>96345ca3-b0c7-4e8e-8907-736f94e4c9ae</string>
	<key>ClientSecret</key>
	<string>BoihxVETPzPrzUwqcfHE3qGnp2FBqKL0YLFX4fXFdOI</string>
</dict>
</plist>
